.vscode 

venv/*
venv
env

migrations/
migrations

.*db
db.*


.venv
.env


*.pyc
__pycache__
__pycache__/*

nginx.*

.*conf
init.*

*.txt

*.log
*.logs
*.log.*
*.logs.*

*.sqlite*
*.db
*.conf

media/images/*
images/*

__pycache__
.pytest_cache
